html {
    font-family: 'Labrada', serif;
}

body {
    margin: 0;
    background-color: #c4dfe6 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #a43820;
    color: black;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 3.7rem;
    text-align: left;
}

.video {
    width: auto;
    position: center;
    float: right;
    padding: 2.5rem;

}

.textoVideo {
    position: relative;
    padding: 0rem 0rem 0rem 9rem;
    margin: auto;
}

.textoVideo1 {
    position: relative;
    padding: 0rem 0rem 0.5rem 11rem;
    margin: auto;
}

table{
    padding: 10px 0px 20px 20px;
    width :60%;
    text-align: center;


 }

.ini {
    padding: 10px 10px 10px 10px;
    color:var(--color-secundario-claro);
    font-family: var(--fuente-titulos);
    font-size: 15px;
    text-shadow: 3px 5px 5px black;
 }

 th, td {
  

    padding: 10px 10px 10px 10px;
    color:var(--color-secundario-claro);
    font-family: var(--fuente-titulos);
    font-size: 15px;

 }
.tituloTabla{

    color:var(--color-secundario-oscuro);
    font-family: var(--fuente-titulos);
    font-size: 40px;
    text-decoration:none;
    

}

.descripcionTabla{

    text-align: left;
    color:var(--color-secundario-claro);
    font-family: var(--fuente-texto);
    font-size: 20px;   
    text-decoration:none;
    border-style:hidden hidden solid hidden ;

}
 tr:hover {
    cursor: pointer;
}

div h1 {
    font-size: 3.7rem;
    text-align: left;
    padding: 33rem 2rem 6rem;


}

.faseDos {
    padding: 19rem 2rem 6rem;
    transition: color 0.5s ease;
    cursor: pointer;
}

.faseDos:hover{
    color: rgb(121, 33, 33);
}
.subtitulo {
    transition: color 0.5s ease;
    cursor: pointer;
}

.subtitulo:hover {
    color: rgb(121, 33, 33);
}

.subtitulo1 {
    transition: color 0.5s ease;
    cursor: pointer;

}
.subtitulo1:hover {
    color: rgb(17, 0, 255);
}

.left {
    float: left;
    width: 30%;
    padding: 0;  
    transition: all 0.3s ease;
    margin: 0rem 2rem 0rem !important;
    border-radius: 0.5rem;

}

.left:hover {
    box-shadow: 0.2rem 0.3rem 0.4rem 0rem rgba(0, 0, 0, 3);
}

.historia {
    font-size: 1.3rem;

}

footer {
    background-color: #46211a;
    padding: 3rem;
    color: white;
    margin-top: auto;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}